<!DOCTYPE html>
<html> 
<head>
  <title>Bellator | Sapien | Agricola</title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'custom_5', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<h1>Books</h1>

  <body>

  <!--   FORMAT

 <div class="post">
  <h2>SUBJECT</h2>
  <ul>
<li>
<h4>TITLE</h4> AUTHOR
</li>
  </ul>
</div>

  -->

<!-- STORY -->
<div class="post">
  <h2>Politics & Control in the Windy City</h2>
  <ul>
<li>
<h4>History of Chicago</h4> by Alfred Theodore Andreas
</li>

<li>
<h4>Machine Politics: Chicago Model</h4> by Harold Foote
</li>

<li>
<h4>Grafters and Goo Goos: Corruption and Reform in Chicago</h4> by James L. Merriner
</li>

<li>
<h4>Boss: Richard J. Daley of Chicago</h4> by Mike Royko
</li>

<li>
<h4>Democracy's Rebirth: The View from Chicago</h4> by Dick Simpson
</li>

  </ul>
</div>

<br/>

  <footer>BSA Truth LLC, 2024</footer>

</body>
</html>
