<!DOCTYPE html>
<html>

<head>
  <title>Bellator | Sapien | Agricola</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'custom_2', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <h1>Contact</h1>
  </header>

  <main>
    <p>
      You can email Seth & Luke at <a href="mailto:bsatruth@bsa.com" class="email-link">bsatruth@bsa.com</a>. Additionally, 
      you can message them on their respective LinkedIn accounts. Thank you!
    </p>
  </main>

  <footer>BSA Truth LLC, 2024</footer>
</body>

</html>
