<!DOCTYPE html>
<html>

<head>

<title>Bellator | Sapien | Agricola </title>

<meta charset="utf-8">

<style>
body {
  margin: 75px;
  background-color: #D3D3D3;
}
h1 {
  font-size: 100px;
  text-align: center;
  color: blue;
  margin-bottom: 100px;
}
.container {
  color: Blue; 
  font-size: 75px; 
  text-align: center;
  margin: 50px;
}
footer {
  text-align: center;
}
a {
  text-align: middle;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  color: blue;
}
p {
  font-size: 50px;
  text-align: center;
  margin-bottom: 8%;
}
</style>

</head>
<body>

<h1>Contact</h1>

<p>
You can email Seth & Luke at <strong>bsatruth@bsa.com</strong>.  Additionally, you can message them on their respective
LinkedIn accounts.  Thank you!
</p>

</body>
<div class="container">
<a href="/home" style="border: 1px solid black; padding: 5px">Home</a>
<a href="/founders" style="border: 1px solid black; padding: 5px">Founders</a>
</div>

<footer>BSA LLC, 2024</footer>
</html>
