<!DOCTYPE html>
<html> 

<head>
<title>Bellator | Sapien | Agricola </title>

<meta charset="utf-8">

<style>
h1 {
color: Blue; 
font-size: 100px; 
text-align: center
}
h2 {
text-align: center; 
font-size: 50px;
margin-bottom: 7%;
}
.bsa-logo{
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.container {
  color: Blue; 
  font-size: 75px; 
  text-align: center;
  margin: 50px;
  text-align: center;
}
a {
  text-align: middle;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  color: blue;
}
footer {
  text-align: center;
}
body {
  margin: 75px;
  background-color: #D3D3D3;
}
</style>

</head>

<body>

<h1>
<strong>BSA LLC</strong>
</h1>

<div>
<%= image_tag 'bsa_logo_1.png', alt: 'BSA Logo', class: 'bsa-logo' %>
</div>

<h2>
BSA's mission is to fathom America's victories, shortcomings, and forging a better American society through research, field work, and the medium of media and communication
</h2>

</body>

<div class="container">
<a href="/founders" style="border: 1px solid black; padding: 5px">Founders</a>
<a href="/sign-in" style="border: 1px solid black; padding: 5px">Sign-in</a>
<a href="/contact" style="border: 1px solid black; padding: 5px">Contact</a>
</div>

<footer>BSA LLC, 2024</footer>

</html>
