body {
  max-height: 80vh; /* This remains the same as it's relative to the viewport */
  overflow: auto; /* Allows scrolling within the section if needed */
  background-color: #D3D3D3;
}

h1 {
  font-size: 6.25rem; /* 100px / 16px */
  text-align: center;
  color: blue;
  margin-bottom: 6.25rem; /* 100px / 16px */
}

.container {
  font-size: 4.6875rem; /* 75px / 16px */
  display: flex; /* Apply flex layout */
  justify-content: center; /* Center the flex items */
  gap: 3.125rem; /* 50px / 16px */
  flex-wrap: wrap; /* Allow items to wrap to a new line if necessary */
  margin: 3.125rem auto; /* 50px / 16px */
}

p {
  font-size: 3.125rem; /* 50px / 16px */
  text-align: center;
  margin-bottom: 8%; /* This remains a percentage and is responsive */
}

.email-link {
  color: blue;
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 3.125rem; /* 50px / 16px */
  color: darkred; 
}

.nav-link {
  display: inline-block;
  border: 0.0625rem solid black; /* 1px / 16px */
  margin: 0 1.5625rem; /* 25px / 16px */
  text-decoration: none;
  color: blue;
}

main {
  margin: 3.125rem; /* 50px / 16px */
}
