body {
  margin: 75px;
  background-color: #D3D3D3;
}

h1, .container, a {
  color: blue;
  text-align: center;
}

h1 {
  font-size: 100px;
}

.nav-link {
  display: inline-block;
  border: 1px solid black;
  margin: 0 25px;
  text-decoration: none;
  color: blue;
}

.container {
  font-size: 75px;
  text-align: center;
  margin: 50px auto; /* Center the container */
  display: flex; /* Use flexbox to layout links */
  justify-content: center; /* Center flex items horizontally */
  gap: 50px; /* Add space between flex items */
  flex-wrap: wrap; /* Allow items to wrap to a new line if necessary */
}

footer {
  text-align: center;
  margin-top: 50px; /* Add space above the footer */
}
