/* Place your styles in app/assets/stylesheets/custom.css */
body {
  margin: 75px;
  background-color: #D3D3D3;
}

.headshot {
  width: 300px;
  height: auto;
}

.founders-container {
  display: flex;
  align-items: center;
  margin: 30px;
}

.founders-info {
  margin-left: 20px;
  flex-grow: 1;
}

.container {
  color: Blue;
  font-size: 75px;
  text-align: center;
  margin: 50px;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: blue;
  margin-bottom: 100px;
}

.linkedin {
  color: blue;
  font-size: 20px;
  margin: 20px;
}

footer {
  text-align: center;
}

.nav-link {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 0 25px;
  text-decoration: none;
  color: blue;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 25px;
  text-align: justify;
}
