/* Place your styles in app/assets/stylesheets/custom.css */
body {
  /* Removed padding as it was commented out */
  max-height: 80vh; /* This remains the same as it's relative to the viewport */
  overflow: auto; /* Allows scrolling within the section if needed */
  background-color: #D3D3D3;
}

.headshot {
  width: 18.75rem; /* 300px / 16px */
  height: auto;
  object-fit: cover; /* This will cover the area without stretching the image */
  border-radius: 5%; /* This is a percentage and is fine as it is */
}

.nav-link {
  display: inline-block;
  border: 0.0625rem solid black; /* 1px / 16px */
  margin: 0 1.5625rem; /* 25px / 16px */
  text-decoration: none;
  color: blue;
}

.founders-container {
  display: flex;
  align-items: center;
  margin: 6.25rem; /* 100px / 16px */
}

.founders-info {
  margin-left: 1.25rem; /* 20px / 16px */
  flex-grow: 1;
}

.container {
  font-size: 4.6875rem; /* 75px / 16px */
  text-align: center;
  margin: 3.125rem auto; /* 50px / 16px */
  display: flex;
  justify-content: center;
  gap: 3.125rem; /* 50px / 16px */
  flex-wrap: wrap;
}

h1 {
  font-size: 6.25rem; /* 100px / 16px */
  text-align: center;
  color: blue;
  margin-bottom: 6.25rem; /* 100px / 16px */
}

.linkedin {
  color: blue;
  font-size: 1.25rem; /* 20px / 16px */
  margin: 1.25rem; /* 20px / 16px */
}

footer {
  text-align: center;
  color: darkred;
}

h2 {
  font-size: 2.5rem; /* 40px / 16px */
}

p {
  font-size: 1.5625rem; /* 25px / 16px */
  text-align: justify;
}

.linkedin-button {
  display: inline-block;
  background-color: #0077B5;
  color: white;
  padding: 0.625rem 0.9375rem; /* 10px / 16px and 15px / 16px */
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.2); /* 2px / 16px and 3px / 16px */
  text-decoration: none;
}

.linkedin-button i {
  margin-right: 0.3125rem; /* 5px / 16px */
}
