body {
  margin: 75px;
  background-color: #D3D3D3;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: blue;
  margin-bottom: 100px;
}

.container {
  font-size: 75px;
  display: flex; /* Apply flex layout */
  justify-content: center; /* Center the flex items */
  gap: 50px; /* Create a gap between items */
  flex-wrap: wrap; /* Allow items to wrap to a new line if necessary */
  margin: 50px auto; /* Center the container */
}

p {
  font-size: 50px;
  text-align: center;
  margin-bottom: 8%;
}

.email-link {
  color: blue;
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 50px; /* Space above footer */
  color: darkred; 
}

.nav-link {
  display: inline-block;
  border: 1px solid black;
  margin: 0 25px;
  text-decoration: none;
  color: blue;
}
